/*
These utility styles should be considered immutable. They aid in scalability,
maintenance, and readability by clearing stating what they do. For example, .u-db should
always set display: block; and nothing else. This is similar to the concept of doing
one thing and doing it well. If a particular utility class does not suite the needs of
the mark-up element it’s applied to, remove/replace it from HTML.
*/

// Margin

.u-m1 {
  margin: 10px;
}

.u-m2 {
  margin: 20px;
}

.u-p1 {
  padding: 10px;
}

.u-p2 {
  padding: 20px;
}

.u-text-c {
  text-align: center;
}

.u-text-r {
  text-align: right;
}
